:root {
    --background-white-color:#FFFFFF;
    --color-hover:#404BBF;
    --color-main-text:#434455;
    --color-accent:#4D5AE5;
    --color-second-text:#2E2F42;
    --color-second-white: #F4F4FD;
    --color-border:#8E8F99;
    --hover-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    background-color:var(--background-white-color) ;
    color:var(--color-main-text);
    font-family:'Roboto',sans-serif;   
    font-size: 16px;
    line-height: 1.5;  
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto; 
}

.list {
    list-style:none ;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*----------------------------------HEADER*/
.header {
    border-bottom: 1px solid #E7E9FC;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.nav-header { 
    display: flex;
    align-items: center;
}

.accent {
    color:var(--color-accent);
}

.logo {
    color: var(--color-second-text);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;      
}

.nav-header .logo {
    padding-top: 24px;
    padding-bottom: 24px;
}

.site-nav {
    display: flex;
    margin-left: 76px;
}

.site-nav .nav-list:not(:last-child) {
    margin-right: 40px;
}


.site-nav .nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color var(--hover-transition);
}

.site-nav .nav-link {
    color: var(--color-second-text);
    font-weight: 500; 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;   
       
}

.site-nav .nav-link:hover,
.site-nav .nav-link:focus {
    color: var(--color-hover);
}

.nav-link.current {
    position: relative;
    color: var(--color-hover);
}
.current::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: var(--color-hover);
    transition: color var(--hover-transition);
}


.icon-line {
   display: flex ;
   align-items: end;
}
.address {
    font-style: normal;
    letter-spacing: 0.02em; 
}

.site-auth {
    display: flex;
    align-items: center; 
}

.letter,
.component-text {
    color: var(--color-main-text);   
}

.letter {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color  var(--hover-transition);
    
}

.site-auth .letter:hover,
.site-auth .letter:focus {
    color: var(--color-hover)
}

.phone {
    color: var(--color-main-text);
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color var(--hover-transition);
}
.site-auth .phone:hover,
.site-auth .phone:focus {
    color: var(--color-hover);
}
.contacts:not(:last-child) {
    margin-right: 40px;
}
/*----------------------------------HERO ----------------------------------*/
.section-hero {
    background-color: var(--color-second-text);  
    padding-top: 188px;
    padding-bottom: 188px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 1440px;
    background-image:linear-gradient(to right, rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
     url('../images/people-office.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
        


.section-title {
    color: var(--background-white-color);
    font-size: 56px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;       
}


/* ----------------------------------BUTTON PRIMARY ----------------------------------*/
.primary-button {
    background-color: var(--color-accent);
    color: var(--background-white-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    text-align: center;

    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    min-height: 56px; 
    transition: background-color var(--hover-transition),
    color var(--hover-transition); 
            
}

.primary-button:hover,
.primary-button:focus {
    background-color: var(--color-hover);
    color:var(--background-white-color)
}
/* ----------------------------------SECTION-WORK ----------------------------------*/
.section-team {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-second-title {
    color:var(--color-second-text) ;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;

    margin-bottom: 72px;     
}

.component-title {
    display: flex;    
}

.component-title .team-list:not(:last-child) {
    margin-right: 24px;   
}

.team-list {
width: calc((100% - 72px) / 4);
}

.team-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--color-second-white);
}
/* ----------------------------------OUR-TEAM ----------------------------------*/
.items {
    display:flex;   
}

.work-item:not(:last-child) {
    margin-right: 24px;
}

.work-item {
width: calc((100% - 48px) / 3);
}
.section-list-staff {
    display: flex;
}

.section-second-title-team { 
    color:var(--color-second-text) ;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;

    margin-bottom: 72px;
}

.section-staff-name,
.components-item {
    color:var(--color-second-text) ;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
        
    margin-top: 0;
    margin-bottom: 8px;
}
        
.section-staff-block {
    background-color:var(--color-second-white);

    padding-bottom: 120px;
    padding-top: 120px;
}

.section-staff {
    background-color: var(--background-white-color);  
    width:calc((100% - 3 * 24px) / 4) ;  
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
   border-radius: 0px 0px 4px 4px;   
}

.section-staff:not(:last-child) {
    margin-right: 24px;
   
}

.site-list {
    display: flex;
    gap: 24px;
    justify-content:space-between;

}

.site-icon {
    width: 40px;
    height: 40px;   
}
.site-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #4D5AE5;
    border-radius: 50%;
    transition: background-color var(--hover-transition);
    
}

.site-link:hover,
.site-link:focus {
    background-color: var(--color-hover);
}


.card-list {
    text-align: center;
    padding: 32px 16px; 
}

.section-desc {
    letter-spacing: 0.02em; 
    margin-bottom: 8px;  
}

.section-work {
    padding-bottom: 120px;
}
/* ----------------------------------PORTFOLIO ----------------------------------*/
.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.section-site {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;   
}

.item {
    flex-basis: calc((100% - 2 * 24px) / 3);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
       
}
/*----------------------------------OVERLAY----------------------------------*/
.product-thumb {
    position: relative;
    overflow: hidden;  
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px 164px 32px;
    background-color: var(--color-accent);
    transform: translateY(100%);
    transition: transform var(--hover-transition);
         
}

.link-card:hover .overlay, .link-card:focus .overlay {
    transform: translateY(0);
}
 .overlay-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-second-white);
}

.link-card {
    display: block;
    transition: box-shadow var(--hover-transition);
}

.link-card:hover,
.link-card:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08)
}

.portfolio-description {
    border: 1px solid #E7E9FC;  
    border-top: none;
    padding: 32px 16px ; 
}
/*----------------------------------BUTTON----------------------------------*/
.button {
    background-color: var(--color-second-white);
    color: var(--color-accent);
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;

    border-radius: 4px;
    border: 1px solid #E7E9FC;
    padding:12px 24px;
    transition: background-color var(--hover-transition),
    color var(--hover-transition), border-color var(--hover-transition),
    box-shadow var(--hover-transition) ;
}

.button:hover,
.button:focus {
    background-color:var(--color-hover);
    color:var(--background-white-color);
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
     0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list {
   display: flex;
   justify-content: center;
   margin-bottom: 72px;
}

.button-list .second-button:not(:last-child) {
    margin-right: 24px;
}
/*----------------------------------CUSTOMERS----------------------------------*/
.section-customers {
    padding-top: 130px;
    padding-bottom: 120px;
}

.customers-title {
    color: var(--color-second-text);
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}
.customers-logo {
    display: flex;
    gap: 24px;
}
.customers-item {
    width: 168px;
    height: 88px;   
}
.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; 
    border: 1px solid var(--color-border);
    border-radius: 4px;
    fill: var(--color-border); 
    transition: fill var(--hover-transition),
    border-color var(--hover-transition);
     
}
.customers-link:hover,
.customers-link:focus {
    fill:var(--color-hover);
    border-color: var(--color-hover);
}

/*----------------------------------FOOTER----------------------------------*/

.footer {
    background-color: var(--color-second-text);
    padding-top: 100px; 
    padding-bottom: 100px;
    
}
.footer-section {
    display: flex;
}


.accent-footer {
    color:var(--color-second-white) ;
}

.footer-text {
    color: #E7E9FC;
    display: block;
    width: 264px;
    margin-right: 120px;
    margin-top: 16px;
}
.footer-contact-title {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--background-white-color);

}
.footer-contact {
    width: 208px;
    height: 80px;
}
.footer-list {
    display: flex;
    width: 208px;
    height: 40px;
    margin-top: 16px;
    gap: 16px;

}
.footer-list-item {
    width: calc((100% - 3 * 16px) / 4);
    height: 40px;
}
.footer-link {
   display: flex;
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
   fill: var(--color-second-white);
   background: rgba(255, 255, 255, 0.1);
   border-radius: 50%;
   transition: background-color var(--hover-transition);

}
.footer-link:hover,
.footer-link:focus {
    background-color: #31D0AA;
}
.footer-subscribe {
    margin-left: auto;
}

.footer-subscribe-title {
    display: block;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: var(--background-white-color);
}
.footer-blok {
    display: flex;
    gap: 24px;
    
}
.footer-input {
    width: 264px ; 
    height: 40px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 12px;
    line-height: calc(24 / 12);
    letter-spacing: 0.04em;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: inherit;
    border-radius: 4px;
    outline: none;
}
.footer-input:focus {
    color: #FFFFFF;
    border-color: #FFFFFF;
    
}
.footer-btn {
    display: flex;
    width: 165px;
    height: 40px;
    cursor: pointer;
    gap: 16px;
    color: var(--background-white-color);
    background: var(--color-accent);
    border-radius: 4px;
    border-color: transparent;
    justify-content: center;
    align-items: center;
    transition: background-color var(--hover-transition);
}

.footer-btn:focus,
.footer-btn:hover {
    background: var(--color-hover);
}


/*----------------------------------MODAL----------------------------------*/
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;   
    visibility: hidden;
}
.backdrop {
    position: fixed;
    z-index: 100; 
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color:rgba(46, 47, 66, 0.4);
    transition: visibility var(--hover-transition),
     opacity var(--hover-transition);  
    
}
.modal {
    position:absolute;
    padding-top: 72px ;
    padding-left: 24px;
    padding-right: 24px;
    width: 408px;
    min-height: 576px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1; 
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}

.modal-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;  
    fill: #000000;
    transition: background-color var(--hover-transition),
    fill var(--hover-transition);
}
.modal-btn:hover,
.modal-btn:focus {
    background: var(--color-hover);
    fill: var(--background-white-color);
}

.modal-title {
    display: block;
    
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
     color: #2E2F42;
}
.modal-wrap {
    display: block;
    position: relative;
    margin: 0;
    
}
.modal-label {
    display: block;
    margin-bottom: 8px;
}
.modal-input {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    transition: border-color var(--hover-transition);
    
}
.modal-input:focus,
.modal-input:hover {
    border-color: var(--color-accent);
}
.modal-input:focus + .modal-icon,
.modal-input:hover + .modal-icon {
    fill: var(--color-accent);
}
.modal-name {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: #8E8F99;
} 
.modal-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%); 
    transition: fill var(--hover-transition);
}

.check-btn {
    display: block;
    margin: 24px auto 0;
    min-width: 169px;
    height: 56px;
    color: var(--background-white-color);
    background: var(--color-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
    transition: background-color var(--hover-transition);

}

.check-btn:focus,
.check-btn:hover {
    background-color: var(--color-hover);
}
textarea {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.04em;
    padding-top: 8px;
    padding-left: 16px;
    margin-bottom: 16px;
    outline: none;
    color: rgba(117, 117, 117, 0.5);
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border-color var(--hover-transition); 
}
textarea:focus,
textarea:hover {
    border-color: var(--color-accent);
}

.policy {
    color: var(--color-accent);
    text-decoration: underline;
}

.modal-checkbox {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.04em;
    color: #757575;
    
}
.check-box {
    display: inline-block;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    
    transform: translate(0);
    border: 1.25px solid var(--color-second-text);
    border-radius: 2px;
    
}
.modal-check:checked + .check-box {
    background: var(--color-hover);
    border: inherit;
    background-image: url('../images/Vector.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-origin: content-box;
    background-position: center;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
  }
